@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    background-color: #fff; 
    height: 100vh; 
}

.form {
    flex: 1; 
    background-color: #ffd269; 
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px; 
    max-width: 500px; 
}


.form-image {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; 
}

.form-image img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}


.form-header {
    margin-bottom: 20px;
}


.text {
    margin-bottom: 10px;
}

.text label {
    display: block;
    margin-bottom: 5px;
}

.text input {
    width: 100%; 
    padding: 8px;
    border: none;
    border-radius: 5px;
}


.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.login-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fac241d7;
    color: white;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ffbc20d7;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .form, .form-image {
        width: 100%; 
        max-width: 600px; 
    }

    .form-image {
        margin-top: 20px; 
    }
}                                                    